#container-profile{
    max-height: 1000px;
    min-height: 600px;
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}

#lottie1{
  width: 500px;
}

.name-container{
  display: flex;
  width: 50%;
}

.name{
    font-size: 3rem;
    font-weight: bold;
}

.intro-1{
    font-size: 2rem;
    font-weight: bold;
    background: linear-gradient(to left, #8942a8, hsl(4, 60%, 46%));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    white-space: nowrap;
    animation: appear 2s ;
}
  /* The typing effect */
  @keyframes appear {
    from { opacity: 0; width: 0%;}
    to { opacity: 1; width: 500px; text-align: center;}
  }

  @keyframes appearMobile {
    from { opacity: 0; width: 0%; text-align: center;}
    to { opacity: 1; width: 300px; text-align: center;}
  }


@media only screen and (max-width: 1000px) {
    #container-profile{
      flex-direction: column;
    }
    .img-wrapper{
        width: 300px;
        height: 300px;
        animation: appearMobile 2s;
    }
  }