.Container-info{
    width: 100%;
    justify-items: center;
    justify-content: center;
    font-size: 24px;    
}

.info{
    width: 80%;
    margin-bottom: 30px;
    padding-inline: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
    border-radius: 10px;
}


.skill-title{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}